<h2>About Tech World</h2>

<p><em>Tech-world (Ask Me Anything)</em> is a <em>crowd sourced website</em> created for the tech professionals and students to share their thoughts. The goal is to create a question and answer message board, similar to Reddit, Quora,
StackOverflow or other such sites. <em>Users should be able to submit a question, then other users can respond with answers</em>. The message board should allow junior developers and newbies
learning to code to ask questions that senior developers,product owners, senior designers, recruiters, and other tech professionals can answer.</p>
