<h1> Post your questions here!</h1>

<p>We hope you find exactly what you're looking for in this website</p>

<ul>
  {{#each model as |post|}}
     {{post-tile post=post destroyPost="destroyPost"}}
  {{/each}}
</ul>

{{new-post savePost2 = "savePost3"}}
