<h1> Post your questions here!</h1>

<p>We hope you would find exactly what you're looking for in this website</p>

<ul>
  {{#each model.posts as |post|}}
     {{post-tile post=post}}
  {{/each}}
</ul>

{{new-post savePost2 = "savePost3"}}
